/*
more page
*/
a{
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.container-pro{
  position: relative;
 padding: 20px;
  }
  
  .container-pro h1{
      padding-top:7px ;
  }
  
  .container-pro .btn.Learn{ 
      position: absolute;
      right: 10px;
      bottom: 15px;
  }

  .property-wrapper{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    padding: 10px;
    }
    .property-img{
      grid-column: 1 /2;
      grid-row: 1 / 2;
      border-radius: 8px;
      width: 100%;
      height: 400px;
      object-fit: cover;
  }

  .property .contents{
    padding: 10px;
     grid-column: 1 /2;
    grid-row: 1 / 2;
    background: rgba(8, 5, 30 .75);
    display: grid;
}
    
    .property{
       place-items: end;
       justify-items: center;
        flex: 1; 
        display: grid;
        color: white;
        padding-bottom: 10px;
    }


    /* about page */
.about{
  display: grid;
  place-items: center;
  height: 50vh;
}
.about img{
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 16px;
}
.about .about-content{
  grid-column: 1/2;
  grid-row: 1/2;
  color: #fff;
}

.about .about-content h1{ font-size: 4rem;}
.explore{
  padding:25px 15px;
}
.explore h1{
  font-size: 2rem;
  padding-bottom: 20px; 
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.explore p{
   font-size: 1.2rem;
}
    /* contact me */
.ontainer{ 
  margin: 30px auto 0 auto;
   color: black;
  }

  .ontainer h1{
    color: #333;
  }

.con{ 
display: flex;
}
.con .info{
  flex: 1;
  padding: 20px;
  margin:10px;
}
hr{
  margin: 10px;
 }

 tr{padding: 10px;}
td{padding: 10px;}
.con .git{
  background: whitesmoke;
  border-radius: 8px;
}
.con .c-info{
  background: whitesmoke;
  border-radius: 8px;
}

.footer-title{
  font-size: 4rem;
  text-align: center;
  padding: 20px 0;
}
.footer-section-about{
  padding: 0 20px;
}

.footer-section-about .footer-title{
  padding-left: 45%;
}

.about-bakery{
  padding: 10px 40px 0 0;
  text-align: left;
}

.about-bakery p{
  line-height: 2rem;
}
.contact form{
 text-align : center;
}

.container-contact{padding: 0 30px;}

.btn-form{
  border-radius: 8px;
  border: 2px solid #333;
  padding: 10px auto;
 margin-top: 5px;
  text-transform: uppercase;
}

/* first layer */

.first-layer.contact{
  padding-bottom: 50px;
}
.first{
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.first.contact{ align-items:start;
}
.first.about{min-height: 400px; }
.first.contact{min-height: 800px;}
.first-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.first-bg.contact{ opacity: .5;}
.first-content.contact h1 { padding-block-start: 80px; padding-block-end: 10px;}
.first-content h1 {
font-size: 80px;
font-weight: 300;
letter-spacing: 8px;
text-transform: uppercase;
margin-bottom: 10px;
line-height: 1;
}

.text-input{
  padding: .7rem 1rem;
  display: block;
  outline: none; 
  width:100%;
  line-height: 1.5;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: inherit;
  
}


/*// contact me */


@media (max-width: 768px) {
.btn{
  font-size: .8rem;
}

.property{
padding: 20px;
}

.container-pro{
padding: 20px;
  }

  .container-pro h1{
    padding-top:2px ;
    font-size: 3rem;
}
.container-pro .btn.Learn{ 
  position: absolute;
  right: 8px;
  bottom: 10px;
}


.con{ 
display: list-item;
}
}